@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
  root: ":root";
}


@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: oklch(45% 0.24 277.023);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0% 0 0);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



@font-face {
  font-family: 'main-font';
  src: url('/fonts/pribambas.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer components {
  .text-main-font {
    font-family: 'main-font', sans-serif;
  }

  .option-correct {
    background-color: var(--color-success) !important;
    color: var(--color-success-content) !important;
    border-color: var(--color-success) !important;
  }

  .option-incorrect {
    background-color: var(--color-error) !important;
    color: var(--color-error-content) !important;
    border-color: var(--color-error) !important;
  }

  .option-button:disabled {
    @apply opacity-100;
  }

  .countdown-indicator {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .countdown-circle {
    width: 40px;
    height: 40px;
    transform: rotate(-90deg);
  }

  .countdown-circle circle {
    fill: none;
    stroke: currentColor;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 251.2;
    stroke-dashoffset: 0;
    opacity: 0.3;
  }

  .countdown-circle .progress-circle {
    opacity: 1;
    animation: countdown 2s linear forwards;
  }

  .countdown-text {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
  }

  .btn {
    @apply transform duration-300 ease-in-out;
  }

  .btn:hover {
    @apply scale-105;
  }

  .btn-answer-option {
    @apply btn btn-block bg-primary-content text-base-content p-3 h-full text-lg justify-center transition-all
  }

  .btn-answer-option:hover {
    @apply scale-105 bg-secondary text-secondary-content btn-secondary
  }
}